<tr>
  <td valign="top">
    <%= link_to "Basic Info", basic_users_path(@user) %>
    <%= link_to "Picture", picture_users_path(@user) %>
    <%= link_to "Education", education_users_path(@user) %>
    <%= link_to "Work", work_users_path(@user) %><br />
   <%= link_to "Interest", interest_users_path(@user) %>
  </td>

  <td width="85%">
    <table>
      <tr>
        <td>

        </td>
      </tr>
    </table>
  </td>
</tr>