<div id="main_education_form">
  <h1 style="padding:16px 10px 10px 145px; color: black; font-size: 40px">Sign Up Form</h1>
  <div id="image" style="padding-left: 7.2em; font-size: 21px; color: black;">I am a &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em><%= image_tag('green dot.png') %></em>&nbsp;&nbsp;Mentor&nbsp;&nbsp;<%= image_tag('white dot.png') %>&nbsp;&nbsp;Learner
    <%= render :partial => "tabs" %>
    <div id="education_sub_form" >
      <table>
        <tr>
          <td width="31%"   valign="top">
            <input type="radio" <%= ( @mentor.education_type.to_s == 'professor') ? 'checked' : '' %> name="education_type" value="professor" onclick="display_education_from('<%= @mentor.id %>','professor')" /> Professor
            <br />
            <input type="radio" <%= (@mentor.education_type.to_s == 'school') ? 'checked' : '' %> name="education_type" value="school" onclick="display_education_from('<%= @mentor.id %>', 'school')" /> School Teacher
            <br />
            <input type="radio" <%= (@mentor.education_type.to_s == 'corporate') ? 'checked' : '' %> name="education_type" value="corporate" onclick="display_education_from('<%= @mentor.id %>','corporate')" /> Corporate Trainer
            <br />
            <input type="radio" <%= (@mentor.education_type.to_s == 'research') ? 'checked' : '' %> name="education_type" value="research" onclick="display_education_from('<%= @mentor.id %>','research')" /> Researcher
            <br />
            <input type="radio" <%= (@mentor.education_type.to_s == 'professional') ? 'checked' : '' %> name="education_type" value="professional" onclick="display_education_from('<%= @mentor.id %>','professional')" /> Professional
            <br />
            <input type="radio" <%= (@mentor.education_type.to_s == 'good') ? 'checked' : '' %> name="education_type" value="good" onclick="display_education_from('<%= @mentor.id %>','good')" /> I am good in this

          </td>
          <td width="23%">
            <div id="education_form">
              <%= render :partial => "education_form", :locals => {:education_type => @mentor.education_type.to_s.blank? ? '' : @mentor.education_type} %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<%= image_tag('banner shadow.png', :style=>"height: 11px;    margin: 43px 0 19px;    width: 980px;") %>
