<div id="background_form">
    <div id="sub_navigation">
    <% @report_subtab = true %>
  </div>
  <div id="default_sub_page">
    <table width="40%" border="0" cellpadding="8px" cellspacing="0" align="left">
      <tr>
        <td>Total Mentors &nbsp;&nbsp;&nbsp;&nbsp;= &nbsp;&nbsp;&nbsp;&nbsp;<%=@menter_count%></td>
      </tr>
      <tr>
        <td>---------------------------------</td>
      </tr>
      <tr>
        <td>Professors</td><td>=</td><td><%=@proffesors%></td>
      </tr>
      <tr>
        <td>School Teachers</td><td>=</td><td><%=@school%></td>
      </tr>
      <tr>
        <td>Corporate Trainers</td><td>=</td><td><%=@corporate%></td>
      </tr>
      <tr>
        <td>Researcher</td><td>=</td><td><%=@research%></td>
      </tr>
      <tr>
        <td>Professional</td><td>=</td><td><%=@professoinal%></td>
      </tr>
      <tr>
        <td>I am good in this</td><td>=</td><td><%=@good%></td>
      </tr>
    </table>
    <table width="40%" border="0" cellpadding="8px" cellspacing="0" align="right" style="margin: 0 33px;">
      <tr>
        <td>Total Learners&nbsp;&nbsp;&nbsp;&nbsp;= &nbsp;&nbsp;&nbsp;&nbsp;<%=@student_count%></td>
      </tr>
      <tr>
        <td>---------------------------------</td>
      </tr>
      <tr>
        <td>School</td><td>=</td><td><%= @in_school%></td>
      </tr>
      <tr>
        <td>College Student</td><td>=</td><td><%=@college%></td>
      </tr>
      <tr>
        <td>PG Student</td><td>=</td><td><%=@pg%></td>
      </tr>
      <tr>
        <td>Ph.D Student</td><td>=</td><td><%=@phd%></td>
      </tr>
      <tr>
        <td>Professional</td><td>=</td><td><%=@professional_student%></td>
      </tr>
      <tr>
        <td>Others</td><td>=</td><td><%=@others%></td>
      </tr>
    </table>
  </div>
</div>